* {
  transform: translateY(-1.25rem);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.title {
  color: #004E89;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn {
  background-color: #004E89;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  width: 8rem;
  height: 2.5rem;
}