.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.text-align-left {
  margin-right: 11rem;
}

.img {
  width: 25rem;
  height: auto;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex-direction: row;
  position: relative;
  margin-right: 5rem;
}